body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0px 150px;
}
.header {
  position: relative;
  width: 1920px;
  height: 1080px;

  background: #fff;

  width: 491px;
  height: 845px;
  background-color: #111c1e;
}
.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  margin-right: 194px;

  transition: color 0.3s linear;
}
.header-logo {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 1200px;
  top: 59px;
  font-size: 15px;
}

.im {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 114px;
  top: 136px;
}
.tex {
  position: absolute;
  width: 250px;
  height: 41px;
  left: 750px;
  top: 100px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;

  padding-bottom: 20px;

  color: #161414;
}
.text {
  position: absolute;
  width: 438px;
  height: 331px;
  left: 745px;
  top: 110px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 100px;

  color: #393939;
}
.texta {
  position: absolute;
  width: 398px;
  height: 116px;
  left: 750px;
  top: 470px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  padding-top: 20px;

  color: #000000;
}
.button {
  background-color: #3fcc50;
  position: absolute;
  color: #fff;
  width: 220px;
  padding: 17px 25px;
  height: 30px;
  left: 750px;
  top: 670px;
  text-decoration: none;
  text-align: center;

  transition: color 0.3s linear;
}
.button:hover {
  background-color: #0f941e;
}
