body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0px 150px;
}
.header {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #fff;
  width: 1395px;
  height: 786px;
  background-color: #111c1e;
}
.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 150px;
  padding-top: 150px;
}

.card {
  width: 229px;
  height: 321px;
  background-color: #333;
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 10px rgb(0 0 0 / 10%);
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.card-image {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: transform 0.75s;
}
.card:hover .card-image {
  transform: scale(1.15);
}
.card-title {
  position: absolute;
  left: 38px;
  bottom: -20px;
  font-size: 23px;
  color: #fff;
}
